.app-wrapper{
  display: grid;
  grid-template-areas:
  "header header"
  "nav content"
  ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width: 90%;
  margin: 0 auto;
}
.header{
  grid-area: header;
  background: aquamarine;
}
.header img{
  max-height: 60px;
}
.nav{
  grid-area: nav;
  background: antiquewhite;
}
.content{
  grid-area: content;
  background: cadetblue;
}
.footer{

}